/* At the top of your CSS file */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
 
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}
header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding: 20px 100px;
  background-color:black;
  display: flex;
  justify-content: space-between;
  align-items:center
}
.logo{
    color:white;
    font-size: 35px;
    user-select: none;
    letter-spacing:3px
}
.navbar a{
    position:relative;
    color:white;
    font-size: 20px;
    font-weight: 200;
    text-decoration: none;
    margin-left: 50px;
    margin-bottom: 0px;
}
.navbar a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background-color:white;
  border-radius: 5px;
  left:0;
  bottom:-5px;
  transition:  1s ease;
}
.navbar a:hover::after { 
  width: 100%;             
}
.checkbtn{
  color:white;
  font-size:28px;
  cursor:pointer;
  position:relative;
  right:-1120px;
  display:none
}
/* Cache l'élément ayant l'ID "check" */
#check {
  display: none;
}

/* Styles appliqués uniquement pour les écrans dont la largeur est au maximum de 990px */
/* Styles appliqués uniquement pour les écrans <= 990px */
@media screen and (max-width: 990px) {

  /* Affiche le bouton hamburger */
  .checkbtn {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  

  /* Cache la navbar au début */
  .navbar {
    display: none;
    flex-direction: column;
    background: black;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    text-align: center;
  }

  /* Quand le checkbox est coché → on affiche le menu */
  #check:checked ~ .navbar {
    display: flex;
  }

  .navbar a {
    margin: 15px 0;
  }
}



body {
     background-color: #ddd;  
}
::selection{
    background-color:blue;
    color:white
}