* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.section {
  width: 100%;
  min-height: 100vh;
  background-color: #ddd;
  margin-top:70px
}

.container {
  width: 80%;
  display: inline-block;
  margin: auto;
  padding-top: 100px;
}
.content{
  float: left;
  width: 55%;
  padding-left:80px
}

.image {
  float: right;
  width: 40%;
  position:fixed;
  top:36%;
  right:0%;
  
  
}
.image:hover{
  opacity:0.6;
  cursor:pointer
}
.title {
  text-transform: uppercase;
  font-size: 29px;
  padding-left:80px
}
.content{
  text-transform: uppercase;
  font-size: 15px;
}

.content h3 {
  margin-top: 20px;
  color: #5d5d5d;
}
@media screen and (max-width: 607px) {
  .image {
  
  position:relative;
   padding-top:20px;
  
        }
}
