{% extends 'base.html' %}
{% block body %}
<div class="all">
  <h1 class="MESURES">EXPLICATION DE CHAQUES MESURES :</h1>
  <ul class="LIST">
    <li><h2 class="IMC">IMC:</h2>
        <ul>
            <li class="INFO1"><h3>L’IMC = Indice de Masse Corporelle
➡️ C’est un outil simple utilisé pour estimer la corpulence d’une personne à partir de son poids et de sa taille.</h3></li>
            <li class="INFO2">
                <h3>
    🔹 Limites de l’IMC

Ne distingue pas la masse grasse de la masse musculaire (un sportif musclé peut avoir un IMC élevé sans être obèse).

Ne prend pas en compte la répartition de la graisse (abdominale vs périphérique).

Chez l’enfant, l’interprétation se fait avec des courbes de croissance adaptées à l’âge et au sexe.
</h3>
            </li>
            <li class="INFO3">
                <h3>L’IMC est un indicateur rapide et pratique de corpulence, mais doit être interprété avec prudence et complété par d’autres mesures (tour de taille, composition corporelle).</h3>
            </li>
        </ul>
    </li>
    <li class="M2"><h2>MESURE 2:(en cours de réalisation....)</h2></li>
    <li class="M3"><h2>MESURE 3:(en cours de réalisation....)</h2></li>
  </ul>
</div>
{% endblock %}