
{% extends 'base2.html' %}
{%block body%}
<div class="gallery">
    <div class="IMAGES">
        <div class="I">
            <div class="i">
               <img src="{{ url_for('static', filename='images/I.png') }}" >
            </div>
            <div class="des">
                <H2>ISWAL</H2>
            </div>
        </div>
        <div class="I">
            <div class="i">
               <img src="{{ url_for('static', filename='images/I.png') }}" >
            </div>
            <div class="des">
                <H2>ISWAL</H2>
            </div>
        </div>
        <div class="I">
            <div class="i">
               <img src="{{ url_for('static', filename='images/I.png') }}" >
            </div>
            <div class="des">
                <h2>ISWAL</h2>
            </div>
        </div>
        <div class="I">
            <div class="i">
               <img src="{{ url_for('static', filename='images/I.png') }}" >
            </div>
            <div class="des">
                <h2>ISWAL</h2>
             </div>
        </div>
        <div class="I">
            <div class="i">
               <img src="{{ url_for('static', filename='images/I.png') }}" >
            </div>
            <div class="des">
                <h2>ISWAL</h2>
            </div>
        </div>
        <div class="I">
            <div class="i">
               <img src="{{ url_for('static', filename='images/I.png') }}" >
            </div>
            <div class="des">
                <h2>ISWAL</h2>
             </div>
        </div>
        <div class="I">
            <div class="i">
               <img src="{{ url_for('static', filename='images/I.png') }}" >
            </div>
            <div class="des">
                <h2>ISWAL</h2>
             </div>
        </div>
        <div class="I">
            <div class="i">
               <img src="{{ url_for('static', filename='images/I.png') }}" >
            </div>
            <div class="des">
                <h2>ISWAL</h2>
             </div>
        </div>
    
           
    </div>
</div>
 {% endblock %}

 