<!-- base.HTML -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- to make your websit responsiveness match with all screen -->
  <title>{{ title }}</title>
   <link rel="stylesheet" href="/static/css/main2.css"/>
  {% if custo_css%}
   <link rel="stylesheet" href="{{ url_for('static',filename='css/'+custo_css+'.css')}}"/>
  {%endif%}
</head>
<body >
    <header>
        <h2 class="logo">ISWAL-BETON</h2>
        <nav class="navbar">
            <a href="{{ url_for('Accueil') }}">Accueil</a>
            <a href="{{ url_for('À_propos') }}">À propos</a>
            <a href="{{ url_for('Services') }}">Services</a>
            <a href="{{ url_for('Projects') }}">Projets</a>
            <a href="{{ url_for('Contact') }}">Contact</a>
        </nav>
    </header>
  {% block body %}
  {% endblock %}
</body>
</html>
