{% extends 'base2.html' %}
{%block body%}
<div class="mother_card">
    <div class="card">
        <img src="{{ url_for('static', filename='images/I.png') }}" >
        <div class="description">
            <h3>projet1</h3>
        <p>:bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
        <a href="#">voir plus</a>
        </div>  
    </div>
    <div class="card">
        <img src="{{ url_for('static', filename='images/I.png') }}" >
        <div class="description">
            <h3>projet2</h3>
        <p>:bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
        <a href="#">voir plus</a>
        </div>  
    </div>
    <div class="card">
        <img src="{{ url_for('static', filename='images/I.png') }}" >
        <div class="description">
            <h3>projet3</h3>
        <p>:bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
        <a href="#">voir plus</a>
        </div>  
    </div>
    <div class="card">
        <img src="{{ url_for('static', filename='images/I.png') }}" >
        <div class="description">
            <h3>projet4</h3>
        <p>:bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
        <a href="#">voir plus</a>
        </div>  
    </div>
    <div class="card">
        <img src="{{ url_for('static', filename='images/I.png') }}" >
        <div class="description">
            <h3>projet5</h3>
        <p>:bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
        <a href="#">voir plus</a>
        </div>  
    </div>
    <div class="card">
        <img src="{{ url_for('static', filename='images/I.png') }}" >
        <div class="description">
            <h3>projet6</h3>
        <p>:bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
        <a href="#">voir plus</a>
        </div>  
    </div>
</div>
{% endblock %}

 