{% extends 'base2.html' %}
{%block body%}
<div class="services">
    <h1>Nos services:</h1>
    <div class="cards">
        <div class="card">
            <h2>SERVICE1</h2>
            <P>BLA BLA BLA BLA BLA BLA BLA BLA</P>

        </div>
    </div>
    <div class="cards">
        <div class="card">
            <h2>SERVICE2</h2>
            <P>BLA BLA BLA BLA BLA BLA BLA BLA</P>

        </div>
    </div>
    <div class="cards">
        <div class="card">
            <h2>SERVICE3</h2>
            <P>BLA BLA BLA BLA BLA BLA BLA BLA</P>

        </div>
    </div>
</div>
{% endblock %}

 