{% extends 'base2.html' %}
{%block body%}
  <section class="section">
    <div class="container">
      <div class="title">
        <h1>À propos de nous</h1>
      </div>

      <div class="content">
        <h3>
           Notre entreprise de construction    BLA BLA BLA BLABLA  BLA BLA BLA BLABLA  BLA BLA BLA BLABLA  BLA BLA BLA BLABLA  BLA BLA BLA BLABLA  BLA BLA BLA BLABLABLA BLA BLA BLABLA  BLA BLA BLA BLABLA  BLA BLA BLA BLABLA  BLA BLA BLA BLABLA  BLA BLA BLA BLABLA  BLA BLA BLA BLABLA  BLA BLA BLA BLABLA  BLA BLA BLA BLABLA  BLA BLA BLA BLABLA  BLA BLA BLA BLABLA  BLA BLA BLA BLABLA  BLA BLA BLA BLABLA.
        </h3>
        
          <div class="image">
                <img src="{{ url_for('static', filename='images/I.png') }}" >
          </div>

       

      </div>
      
    </div>
  </section>


{% endblock %}

 